@using HealthCare.Portal.HelperClasses
@{
    ViewBag.Title = "Book meeting with Bot";
}

<h2 style="padding-left: 37%;">Bot Meeting assistant</h2>
<div style="padding-left: 25%;">
    <iframe width="800" height="600" src='@ConfigValues.BotUrlEmbed'></iframe>
    <br />
    <br />
    <p>
        <b>You may try typing below phrases like: </b><br />
        "Book appointment for tomorrow",<br />
        "Book appointment on 10/27/2016",<br />
        "Cancel my appointment"
    </p>
</div>