<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="BOT_Handle" />
    <add key="MicrosoftAppId" value="Microsoft_App_Id" />
    <add key="MicrosoftAppPassword" value="Microsoft_App_Secret" />
    <!--URL of the azure web app where Virtual Health is hosted-->
    <add key="ida:HealthCarePortal" value="https://[resourceName].azurewebsites.net" />
    <!--This setting will turn ON or OFF the keyvault, it is recommended to use KeyVault in PRODUCTION deployment-->
    <add key="IsKeyVaultEnabled" value="false" />
    <!--Key vault base URL, Optional when IsKeyValultEnabled = false-->
    <add key="KeyVaultBaseUrl" value="https://[resourceName].vault.azure.net" />
    <!--Encryption key used for encryption the Query parameters, GUID. Optional when IsKeyValultEnabled = true
        Use the same Encryption key as Virtual Health Portal-->
    <add key="EncryptionKey" value="GUID" />
    <!--Encryption Salt a GUID; Optional when IsKeyValultEnabled = true
        Use the same Encryption Salt as Virtual Health Portal-->
    <add key="EncryptionSalt" value="GUID" />
    <!--Password of the SPO User (SpoUserName) , Optional when IsKeyValultEnabled = true-->
    <add key="SpoPassword" value="Password" />
    <!--URL of the Virtual Health SharePoint Site-->
    <add key="SharepointSite" value="https://[tenantName].sharepoint.com/sites/[siteName]" />
    <!--User name to access SharePoint resources, recommended to have a service account instead of user account-->
    <add key="SpoUserName" value="[userName]@[tenantName].onmicrosoft.com" />
    <add key="EmailServer" value="smtp.office365.com" />
    <!--Set it to true if you are deploying this Bot to work with the Angular App (HealthCare.Web)-->
    <add key="IsAngularApp" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>